<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="controller_action_predispatch">
        <observer name="observer_controller_action_predispatch" instance="Webjump\HelloWorld\Observer\ObserverPredispatch"/>
    </event>
</config>
